In [1]:
# Organizing the data to streamline all the projects (capstone) steps
# Importing all the required packages for data wrangling
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# loading and checking the dataset
df = pd.read_csv('US_Accidents_Dec21_updated.csv ')
print(df)

                ID  Severity           Start_Time             End_Time  \
0              A-1         3  2016-02-08 00:37:08  2016-02-08 06:37:08
1              A-2         2  2016-02-08 05:56:20  2016-02-08 11:56:20
2              A-3         2  2016-02-08 06:15:39  2016-02-08 12:15:39
3              A-4         2  2016-02-08 06:51:45  2016-02-08 12:51:45
4              A-5         3  2016-02-08 07:53:43  2016-02-08 13:53:43
...            ...       ...                  ...                  ...
2845337  A-2845338         2  2019-08-23 18:03:25  2019-08-23 18:32:01
2845338  A-2845339         2  2019-08-23 19:11:30  2019-08-23 19:38:23
2845339  A-2845340         2  2019-08-23 19:00:21  2019-08-23 19:28:49
2845340  A-2845341         2  2019-08-23 19:00:21  2019-08-23 19:29:42
2845341  A-2845342         2  2019-08-23 18:52:06  2019-08-23 19:21:31

         Start_Lat   Start_Lng    End_Lat     End_Lng  Distance(mi)  \
0        40.108910  -83.092860  40.112060  -83.031870         3.230
1        39.865420  -84.062800  39.865010  -84.048730         0.747
2        39.102660  -84.524680  39.102090  -84.523960         0.055
3        41.062130  -81.537840  41.062170  -81.535470         0.123
4        39.172393  -84.492792  39.170476  -84.501798         0.500
...            ...         ...        ...         ...           ...
2845337  34.002480 -117.379360  33.998880 -117.370940         0.543
2845338  32.766960 -117.148060  32.765550 -117.153630         0.338
2845339  33.775450 -117.847790  33.777400 -117.857270         0.561
2845340  33.992460 -118.403020  33.983110 -118.395650         0.772
2845341  34.133930 -117.230920  34.137360 -117.239340         0.537

                                               Description  ...  Roundabout  \
0        Between Sawmill Rd/Exit 20 and OH-315/Olentang...  ...       False
1                       At OH-4/OH-235/Exit 41 - Accident.  ...       False
2                         At I-71/US-50/Exit 1 - Accident.  ...       False
3                          At Dart Ave/Exit 21 - Accident.  ...       False
4                       At Mitchell Ave/Exit 6 - Accident.  ...       False
...                                                    ...  ...         ...
2845337                           At Market St - Accident.  ...       False
2845338    At Camino Del Rio/Mission Center Rd - Accident.  ...       False
2845339  At Glassell St/Grand Ave - Accident. in the ri...  ...       False
2845340     At CA-90/Marina Fwy/Jefferson Blvd - Accident.  ...       False
2845341              At Highland Ave/Arden Ave - Accident.  ...       False

        Station   Stop Traffic_Calming Traffic_Signal Turning_Loop  \
0         False  False           False          False        False
1         False  False           False          False        False
2         False  False           False          False        False
3         False  False           False          False        False
4         False  False           False          False        False
...         ...    ...             ...            ...          ...
2845337   False  False           False          False        False
2845338   False  False           False          False        False
2845339   False  False           False          False        False
2845340   False  False           False          False        False
2845341   False  False           False          False        False

        Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
0                Night          Night             Night                 Night
1                Night          Night             Night                 Night
2                Night          Night             Night                   Day
3                Night          Night               Day                   Day
4                  Day            Day               Day                   Day
...                ...            ...               ...                   ...
2845337            Day            Day               Day                   Day
2845338            Day            Day               Day                   Day
2845339            Day            Day               Day                   Day
2845340            Day            Day               Day                   Day
2845341            Day            Day               Day                   Day

[2845342 rows x 47 columns]

In [3]:
# A new repository was added to Github for this project, to gain an understanding of the data; we're going to check the columns names, data types, discription of the columns, counting and checking the percents of the unique values, and their ranges.
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [4]:
df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [5]:
# After getting the results above, the action needed are as follows:
# Checking the 'county' and 'country' columns.
# Checking the thrre types of twillight columns ("Civil_Twilight", "Nautical_Twilight" and "Astronomical_Twilight")
# Checking the similar columns types ('Street', 'Side', 'City', 'County', 'State', 'Zipcode', 'Country')
# Now, we're going to create two columns, one to store list of features to drop and one to add features that are need to be added
drop_list=[]
feature_list=[]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2845342 entries, 0 to 2845341
Data columns (total 47 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Severity               int64
 2   Start_Time             object
 3   End_Time               object
 4   Start_Lat              float64
 5   Start_Lng              float64
 6   End_Lat                float64
 7   End_Lng                float64
 8   Distance(mi)           float64
 9   Description            object
 10  Number                 float64
 11  Street                 object
 12  Side                   object
 13  City                   object
 14  County                 object
 15  State                  object
 16  Zipcode                object
 17  Country                object
 18  Timezone               object
 19  Airport_Code           object
 20  Weather_Timestamp      object
 21  Temperature(F)         float64
 22  Wind_Chill(F)          float64
 23  Humidity(%)            float64
 24  Pressure(in)           float64
 25  Visibility(mi)         float64
 26  Wind_Direction         object
 27  Wind_Speed(mph)        float64
 28  Precipitation(in)      float64
 29  Weather_Condition      object
 30  Amenity                bool
 31  Bump                   bool
 32  Crossing               bool
 33  Give_Way               bool
 34  Junction               bool
 35  No_Exit                bool
 36  Railway                bool
 37  Roundabout             bool
 38  Station                bool
 39  Stop                   bool
 40  Traffic_Calming        bool
 41  Traffic_Signal         bool
 42  Turning_Loop           bool
 43  Sunrise_Sunset         object
 44  Civil_Twilight         object
 45  Nautical_Twilight      object
 46  Astronomical_Twilight  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 773.4+ MB

In [7]:
# Checking the similar columns types ('Street', 'Side', 'City', 'County', 'State', 'Zipcode', 'Country')
# Checking for the redundancy
df[['Number', 'Street', 'Side', 'City', 'County', 'State', 'Zipcode', 'Country']]

,Number,Street,Side,City,County,State,Zipcode,Country
0,NaN,Outerbelt E,R,Dublin,Franklin,OH,43017,US
1,NaN,I-70 E,R,Dayton,Montgomery,OH,45424,US
2,NaN,I-75 S,R,Cincinnati,Hamilton,OH,45203,US
3,NaN,I-77 N,R,Akron,Summit,OH,44311,US
4,NaN,I-75 S,R,Cincinnati,Hamilton,OH,45217,US
...,...,...,...,...,...,...,...,...
2845337,NaN,Pomona Fwy E,R,Riverside,Riverside,CA,92501,US
2845338,NaN,I-8 W,R,San Diego,San Diego,CA,92108,US
2845339,NaN,Garden Grove Fwy,R,Orange,Orange,CA,92866,US
2845340,NaN,San Diego Fwy S,R,Culver City,Los Angeles,CA,90230,US
2845341,NaN,CA-210 W,R,Highland,San Bernardino,CA,92346,US

In [8]:
# Checking all columns with numbers so as to check the NAN values
df['Number'].isnull().sum() / len(df)

0.6129003121593116

In [9]:
drop_list.append('Number')

In [10]:
df['Street'].nunique()

159651

In [11]:
drop_list.append('Street')

In [12]:
df['Side'].value_counts()

R    2353309
L     492032
N          1
Name: Side, dtype: int64

In [13]:
df.drop(df.loc[df['Side']=='N'].index,inplace=True)

In [14]:
df['Side'].value_counts()

R    2353309
L     492032
Name: Side, dtype: int64

In [15]:
# Checking the number of accidents per City and see the ranking
city_by_accidents = df['City'].value_counts()
df['City'].value_counts()

Miami                           106966
Los Angeles                      68956
Orlando                          54691
Dallas                           41979
Houston                          39448
                                 ...
Ridgedale                            1
Sekiu                                1
Wooldridge                           1
Bullock                              1
American Fork-Pleasant Grove         1
Name: City, Length: 11681, dtype: int64

In [16]:
df['City'].nunique()

11681

In [17]:
len(city_by_accidents[city_by_accidents>=10000])
high_accident_city = city_by_accidents[city_by_accidents>=10000]
high_accident_city

Miami              106966
Los Angeles         68956
Orlando             54691
Dallas              41979
Houston             39448
Charlotte           33152
Sacramento          32559
San Diego           26627
Raleigh             22840
Minneapolis         22768
Portland            20944
Nashville           20267
Austin              18301
Baton Rouge         18182
Phoenix             17143
Saint Paul          16869
New Orleans         16251
Atlanta             15622
Jacksonville        14967
Richmond            14349
Tucson              13799
San Jose            13377
Riverside           13310
Kansas City         13298
Bakersfield         12044
San Bernardino      11249
Chicago             11188
Tampa               10984
Salt Lake City      10709
Ontario             10538
Anaheim             10502
Hialeah             10398
Fort Lauderdale     10345
Oakland             10051
Name: City, dtype: int64

In [18]:
# Data has been checked for the cleanness and duplicates; now is the turn to check missing values.
# First, will get a brief discriptive information
df.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,2.845341e+06,2.845341e+06,2.845341e+06,2.845341e+06,2.845341e+06,2.845341e+06,1.101431e+06,2.776068e+06,2.375699e+06,2.772250e+06,2.786142e+06,2.774796e+06,2.687398e+06,2.295884e+06
mean,2.137572e+00,3.624520e+01,-9.711463e+01,3.624532e+01,-9.711438e+01,7.026777e-01,8.089408e+03,6.179356e+01,5.965823e+01,6.436545e+01,2.947234e+01,9.099391e+00,7.395044e+00,7.016940e-03
std,4.787217e-01,5.363798e+00,1.831782e+01,5.363874e+00,1.831763e+01,1.560361e+00,1.836009e+04,1.862263e+01,2.116097e+01,2.287457e+01,1.045286e+00,2.717546e+00,5.527454e+00,9.348831e-02
min,1.000000e+00,2.456603e+01,-1.245481e+02,2.456601e+01,-1.245457e+02,0.000000e+00,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.344517e+01,-1.180331e+02,3.344628e+01,-1.180333e+02,5.200000e-02,1.270000e+03,5.000000e+01,4.600000e+01,4.800000e+01,2.931000e+01,1.000000e+01,3.500000e+00,0.000000e+00
50%,2.000000e+00,3.609861e+01,-9.241808e+01,3.609798e+01,-9.241764e+01,2.440000e-01,4.007000e+03,6.400000e+01,6.300000e+01,6.700000e+01,2.982000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.000000e+00,4.016024e+01,-8.037243e+01,4.016105e+01,-8.037338e+01,7.640000e-01,9.567000e+03,7.600000e+01,7.600000e+01,8.300000e+01,3.001000e+01,1.000000e+01,1.000000e+01,0.000000e+00
max,4.000000e+00,4.900058e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,1.551860e+02,9.999997e+06,1.960000e+02,1.960000e+02,1.000000e+02,5.890000e+01,1.400000e+02,1.087000e+03,2.400000e+01

In [19]:
# Checking the missing percents
numeric_df = df.select_dtypes(include='number')
numeric_df.columns

Index(['Severity', 'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng',
       'Distance(mi)', 'Number', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Speed(mph)',
       'Precipitation(in)'],
      dtype='object')

In [20]:
 # Organizing the missing percent values in an ascending order
missing_percent = df.isna().sum().sort_values(ascending = False)/len(df)
missing_percent

Number                   6.129002e-01
Precipitation(in)        1.931076e-01
Wind_Chill(F)            1.650565e-01
Wind_Speed(mph)          5.550934e-02
Wind_Direction           2.592800e-02
Humidity(%)              2.568796e-02
Weather_Condition        2.482479e-02
Visibility(mi)           2.479316e-02
Temperature(F)           2.434612e-02
Pressure(in)             2.080559e-02
Weather_Timestamp        1.783090e-02
Airport_Code             3.355661e-03
Timezone                 1.285610e-03
Nautical_Twilight        1.007612e-03
Civil_Twilight           1.007612e-03
Sunrise_Sunset           1.007612e-03
Astronomical_Twilight    1.007612e-03
Zipcode                  4.632134e-04
City                     4.814889e-05
Street                   3.514517e-07
Country                  0.000000e+00
Junction                 0.000000e+00
Start_Time               0.000000e+00
End_Time                 0.000000e+00
Start_Lat                0.000000e+00
Turning_Loop             0.000000e+00
Traffic_Signal           0.000000e+00
Traffic_Calming          0.000000e+00
Stop                     0.000000e+00
Station                  0.000000e+00
Roundabout               0.000000e+00
Railway                  0.000000e+00
No_Exit                  0.000000e+00
Crossing                 0.000000e+00
Give_Way                 0.000000e+00
Bump                     0.000000e+00
Amenity                  0.000000e+00
Start_Lng                0.000000e+00
End_Lat                  0.000000e+00
End_Lng                  0.000000e+00
Distance(mi)             0.000000e+00
Description              0.000000e+00
Severity                 0.000000e+00
Side                     0.000000e+00
County                   0.000000e+00
State                    0.000000e+00
ID                       0.000000e+00
dtype: float64

In [21]:
missing_percent[missing_percent != 0]

Number                   6.129002e-01
Precipitation(in)        1.931076e-01
Wind_Chill(F)            1.650565e-01
Wind_Speed(mph)          5.550934e-02
Wind_Direction           2.592800e-02
Humidity(%)              2.568796e-02
Weather_Condition        2.482479e-02
Visibility(mi)           2.479316e-02
Temperature(F)           2.434612e-02
Pressure(in)             2.080559e-02
Weather_Timestamp        1.783090e-02
Airport_Code             3.355661e-03
Timezone                 1.285610e-03
Nautical_Twilight        1.007612e-03
Civil_Twilight           1.007612e-03
Sunrise_Sunset           1.007612e-03
Astronomical_Twilight    1.007612e-03
Zipcode                  4.632134e-04
City                     4.814889e-05
Street                   3.514517e-07
dtype: float64

In [ ]:
# Summary
# The number column has been dropped as it has more than (50%) missing values (62%).
# The street column also has been dropped because it has so many unique features.
# The side columns had one N value that was removed. It also showed that most accidents toke place in the right side (more than 82%)!
# Miami has the largest number of accidents and it ranked number one. Miami also the number three populus city in the US, which is clearly justifies that, and sure we are going to get interseting information to help this in the EDA stage.
# Other cities like LA has the same growth rate population wise but also has lower accidents numbers and in comparison with Miami, it considered toolow. We need to check further behind the population information as it is not the main reason as it appeares from the side research.
# Further lookin into counties information and the State information is required in EDA.